/* .hamburger-icon{
   
    height: 0px;
    width: 0px;
     background-color: rgba(17,52,70,0);
     border-width: 1px;
     border-color:black;
    visibility: hidden;
 }
 .accelerator-button-text{
    padding-bottom: 5px;
    font-size: 10px;
 } */


/* start of Navbar */
.navbar-zone{
    background-color: White;
}
.main-navbar-list{
    /* background-color: blue; */
    display: flex; 
    list-style: none;
    /* font-size: 16px; */
    font-size: 110%;
    font-family: 'Nunito Sans', sans-serif;
    /* padding: 5px; */
    /* margin: 5px; */
    color: black;
}
.push-right{
    margin-left: auto;
}
.li-navbar{
    /* padding: 20px; */
    padding-top: 1.38%;
    padding-bottom: 1.38%;
    padding-right: 1%;
    display: inline;
}
a{
    color: black;
    text-decoration: none;
}
.logo-padding{
    /* padding-top:6px; */ 
    padding-top: 0.42%;
}
.easser-img{
    height:35px ;
    width: 113px ;
   
}

.accelerator-button{
    
    height: 42px;
    width:175px ;   
    /* width: .15%; */
    background-color: white;
    border-width: 2px;
    border-color: #F47E3D;
    border-radius: 5px;
    /* padding: 5px; */
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.accelerator-button-padding{
    margin-left: auto;
    padding-top:12px;
    /* padding-bottom: 8px; */
}

/* End of Navbar */
/* End of cover */

.buttons{
    height: 50.13px;
    /* width:213px ;   */
    /* responsive */
    width: 20%;
 
    border-radius: 5px;
    /* color: #FDFCFF; */
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}
.join-accelerator-button{
    background-color: #F47E3D;
    border: none;
    color: aliceblue;
}
.learnmore-button{
    color: #08253F;
    /* background: #08253F; */
    border-width: 1px;
    border: 1px solid #08253F;
    color: black;
    background-color: #DFEEFB;
    margin-left: 15px;
}
.cover-zone{
   
    display: flex;
    /* justify-content: center; */
    justify-content:space-evenly;
    align-items: center; 
    /* border: 5px solid blue; */
    height: 707px;
    background-color: #DFEEFB;
    /* padding: 100px; */
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
.cover-inner-zone{
    display: flex;
    justify-content: center;
}
.text1{
   /* margin-top: 0px; */
   /* padding-bottom: 50px; */
}
.cover-inner-zone-text-buttons{
    align-self: start;
}
.cover-inner-zone-buttons{
    
    padding-top: 50px;
}
.cover-text1{
   /* font-size:40px;  */
    /* responsive */
   font-size: 250%;
}
.cover-text2{
    /* font-size: 18px; */
    /* responsive */
    font-size: 90%;
   
}
.imac-img{
    /* height:488px ;
    width: 549.87px; */
     /* responsive */
    width: 100%;
    height: 80%;
}
/* End of cover part */
/* Start of Section parts */
    .page-content{
        /* background-color: red; */
        background-color: white;
        /* border: 5px solid red; */
    }
    .help-box{
        /* display: flex; */
        /* flex-direction: column; */
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
        height: 239px;
        /* width: 800px; */
        /* responsive */
        width: 80%;
        text-align: center;
        
    }
    .help-text1{
        /* font-size: 70px; */
        /* ressponsive */
        font-size: 250%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .help-text2{
       
        /* font-size: 18px; */
        /* responsive */
        font-size: 120%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points{
        height: 239px;
        /* width: 475px; */
        /* responsive */
        width: 40%;
        background-color: white;
    }
    .points-heading{
        font-size: 30px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .points-paragraph{
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .point-no-2,.point-no-4{
        margin-left: auto;
        margin-right: 10%;
    }
    .point-no-1,.point-no-3{
       margin-left: 10%;
    }
/* End of Help Section Part */
/* Start of The Big Picture Section part */
    .big-picture{
        height:860px;
        /* width: 1000px; */
        width: 90%;
        background-color: #08253F;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .big-pic-heading{
        /* font-size: 70px; */
        /* responsive */
        font-size: 250%;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .big-pic-text-box{
        height:150px;
        /* width: 721px; */
        /* responsive */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .big-pic-text{
        font-size: 18px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-box{
        height: 265px;
        /* width: 512px; */
        width: 55%;
        /* background-color: red; */
        margin-left: 15%;
        margin-top: 150px;
        padding-bottom: 200px;
    }
    .grow-business-headline{
        font-size: 50px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-text{
        font-size: 18px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-button{
        margin-top: 35px;
    }
/* End of Sections part */
/* start of footer part */
    .footer{
        /* background-color: tan; */
        background-color: #08253F;
        /* border: 5px solid tan; */
        height: 259px;
    }
    .footer-logo-plus-text-box{
        /* width: 185px; */
        /* responsive */
        width: 40%;
        height: 80px;
        margin-top: 1.5%;
        margin-left: 5%;
    }
    .easer-text{
        font-size: 14px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-navigation-bar, .footer-company-navbar-bar{
        font-size: 20px;
        color: #FFFFFF;
        list-style: none;
        color: white;
    }
    .footer-anchor-tag-text{
        color: #FDFCFF;
        font-size: 14px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    .football-allnavbar-flexbox{
        display: flex;
       
        justify-content: space-between;
        margin-top: 20px;
        /* padding: 10%; */
    }
    .footber-navigationbar-box{
        margin-left: auto;
        /* margin-right: 10%; */
        /* margin-left: 55%; */
    }
    .footer-companybar-box{
        margin-left: auto;
        margin-right: 15%;
        /* margin-right: 25%; */

    }
    .flex{
        display: flex;
        justify-content: center;
        /* margin-left: 5%; */
        padding-left: 5%;
    }
    .footer-ending-text{
        text-align: center;
        font-size: 14px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-ending-text-box{
        /* in-bomargttom: 0px; */
        margin-top: 70px;
       
    }
/* End of footer part */
@media only screen and (max-width: 1000px){
    .accelerator-button{
        
        height: 42px;
        width:140px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 8px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .main-navbar-list{
        
        display: flex; 
        list-style: none;
        /* font-size: 16px; */
        font-size: 90%;
        font-family: 'Nunito Sans', sans-serif;
        /* padding: 5px; */
        /* margin: 5px; */
        color: black;
    }
    .easser-img{
        height:35px ;
        width: 100px ;
       
    }
    .imac-img{
        /* height:488px ;
        width: 549.87px; */
         /* responsive */
        width: 90%;
        height: 70%;
    }
    .cover-text1{
        /* font-size:40px;  */
         /* responsive */
        font-size: 200%;
     }
     .cover-text2{
         /* font-size: 18px; */
         /* responsive */
         font-size: 80%;
        
     }
     .buttons{
        height: 50.13px;
        /* width:213px ;   */
        /* responsive */
        width: 25%;
     
        border-radius: 5px;
        /* color: #FDFCFF; */
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .join-accelerator-button{
        background-color: #F47E3D;
        border: none;
        color: aliceblue;
    }
    .learnmore-button{
        color: #08253F;
        /* background: #08253F; */
        border-width: 1px;
        border: 1px solid #08253F;
        color: black;
        background-color: #DFEEFB;
        margin-left: 15px;
    }
    .help-text1{
        /* font-size: 70px; */
        /* ressponsive */
        font-size: 210%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .help-text2{
       
        /* font-size: 18px; */
        /* responsive */
        font-size: 110%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-heading{
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .points-paragraph{
        font-size: 15px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-img{
        width: 45px;
        height: 45px;
    }
    .big-pic-heading{
        /* font-size: 70px; */
        /* responsive */
        font-size: 210%;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .big-pic-text{
        font-size: 15px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-headline{
        font-size: 30px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-text{
        font-size: 15px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .easer-text{
        font-size: 12px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-navigation-bar, .footer-company-navbar-bar{
        font-size: 15px;
        color: #FFFFFF;
        list-style: none;
        color: white;
    }
    .footer-anchor-tag-text{
        color: #FDFCFF;
        font-size: 12px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    .footer-ending-text{
        text-align: center;
        font-size: 12px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}
@media only screen and (max-width: 800px){
    .accelerator-button{
        
        height: 42px;
        width:120px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .accelerator-button{
        
        height: 42px;
        width:120px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 8px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .main-navbar-list{
        
        display: flex; 
        list-style: none;
        /* font-size: 16px; */
        font-size: 80%;
        font-family: 'Nunito Sans', sans-serif;
        /* padding: 5px; */
        /* margin: 5px; */
        color: black;
    }
    .easser-img{
        height:35px ;
        width: 90px ;
       
    }
    .imac-img{
        /* height:488px ;
        width: 549.87px; */
         /* responsive */
        width: 85%;
        height: 65%;
    }
    .cover-text1{
        /* font-size:40px;  */
         /* responsive */
        font-size: 180%;
     }
     .cover-text2{
         /* font-size: 18px; */
         /* responsive */
         font-size: 70%;
        
     }
     .buttons{
        height: 50.13px;
        /* width:213px ;   */
        /* responsive */
        width: 25%;
     
        border-radius: 5px;
        /* color: #FDFCFF; */
        font-size: 9px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .join-accelerator-button{
        background-color: #F47E3D;
        border: none;
        color: aliceblue;
    }
    .learnmore-button{
        color: #08253F;
        /* background: #08253F; */
        border-width: 1px;
        border: 1px solid #08253F;
        color: black;
        background-color: #DFEEFB;
        margin-left: 15px;
    }
    .help-text1{
        /* font-size: 70px; */
        /* ressponsive */
        font-size: 200%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .help-text2{
       
        /* font-size: 18px; */
        /* responsive */
        font-size: 100%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-heading{
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .points-paragraph{
        font-size: 13px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-img{
        width: 40px;
        height: 40px;
    }
    .big-pic-heading{
        /* font-size: 70px; */
        /* responsive */
        font-size: 200%;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .big-pic-text{
        font-size: 14px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-headline{
        font-size: 27px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-text{
        font-size: 14px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .easer-text{
        font-size: 12px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-navigation-bar, .footer-company-navbar-bar{
        font-size: 14px;
        color: #FFFFFF;
        list-style: none;
        color: white;
    }
    .footer-anchor-tag-text{
        color: #FDFCFF;
        font-size: 12px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    .footer-ending-text{
        text-align: center;
        font-size: 12px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}
@media only screen and (max-width: 600px){
    /* .hamburger-icon{
        height: 20px;
        width: 65px;
         background-color: rgba(17,52,70,0);
         border-width: 1px;
         border-color:black;
        visibility: inherit;
     }
    .accelerator-button-text{
      visibility: hidden;
     } */
     .accelerator-button{
        
        height: 42px;
        width:100px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .footer-companybar-box{
        margin-left: auto;
        /* margin-left: 15%; */
        margin-right: 19%;

    }
    .footber-navigationbar-box{
        margin-left: auto;
        margin-right: 10%;
        /* margin-left: 55%; */
    }
    .accelerator-button{
        
        height: 42px;
        width:100px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-left: 5%; */
        /* padding-left: 5%; */
    }
    .join-accelerator-button{
        background-color: #F47E3D;
        border: none;
        color: aliceblue;
        padding-top: 0.4pc;
    }
}
@media only screen and (max-width: 500px){
    
    .accelerator-button{
        
        height: 42px;
        width:90px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .main-navbar-list{
        
        display: flex; 
        list-style: none;
        /* font-size: 16px; */
        font-size: 60%;
        font-family: 'Nunito Sans', sans-serif;
        /* padding: 5px; */
        /* margin: 5px; */
        color: black;
    }
    .easser-img{
        height:35px ;
        width: 70px ;
       
    }
    .imac-img{
        /* height:488px ;
        width: 549.87px; */
         /* responsive */
        width: 85%;
        height: 45%;
    }
    .cover-text1{
        /* font-size:40px;  */
         /* responsive */
        font-size: 140%;
     }
     .cover-text2{
         /* font-size: 18px; */
         /* responsive */
         font-size: 60%;
        
     }
     .buttons{
        height: 50.13px;
        /* width:213px ;   */
        /* responsive */
        width: 30%;
     
        border-radius: 5px;
        /* color: #FDFCFF; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .join-accelerator-button{
        background-color: #F47E3D;
        border: none;
        color: aliceblue;
        padding-top: 0.4pc;
    }
    .learnmore-button{
        color: #08253F;
        /* background: #08253F; */
        border-width: 1px;
        border: 1px solid #08253F;
        color: black;
        background-color: #DFEEFB;
        margin-left: 15px;
    }
    .help-text1{
        /* font-size: 70px; */
        /* ressponsive */
        /* font-size: 200%; */
        font-size: 180%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .help-text2{
       
        /* font-size: 18px; */
        /* responsive */
        /* font-size: 100%; */
        font-size: 80%;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-heading{
        font-size: 17px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .points-paragraph{
        font-size: 12.5px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .points-img{
        width: 35px;
        height: 35px;
    }
    .big-pic-heading{
        /* font-size: 70px; */
        /* responsive */
        font-size: 150%;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .big-pic-text{
        font-size: 10px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-headline{
        font-size: 20px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .grow-business-text{
        font-size: 12px;
        color: black;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .easer-text{
        font-size: 10px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-navigation-bar, .footer-company-navbar-bar{
        font-size: 10px;
        color: #FFFFFF;
        list-style: none;
        color: white;
    }
    .footer-anchor-tag-text{
        color: #FDFCFF;
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    .footer-ending-text{
        text-align: center;
        font-size: 10px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}
@media only screen and (max-width: 400px){
    
    .accelerator-button{
        
        height: 42px;
        width:80px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .main-navbar-list{
        
        display: flex; 
        list-style: none;
        /* font-size: 16px; */
        font-size: 50%;
        font-family: 'Nunito Sans', sans-serif;
        /* padding: 5px; */
        /* margin: 5px; */
        color: black;
    }
    .easser-img{
        height:35px ;
        width: 90px ;
       
    }   
}
@media only screen and (max-width: 350px){
    .accelerator-button{
        
        height: 42px;
        width:70px ;   
        /* width: .15%; */
        background-color: white;
        border-width: 2px;
        border-color: #F47E3D;
        border-radius: 5px;
        /* padding: 5px; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .main-navbar-list{
        
        display: flex; 
        list-style: none;
        /* font-size: 16px; */
        font-size: 50%;
        font-family: 'Nunito Sans', sans-serif;
        /* padding: 5px; */
        /* margin: 5px; */
        color: black;
    }
    .easser-img{
        height:30px ;
        width: 70px ;
       
    }
    .imac-img{
        /* height:488px ;
        width: 549.87px; */
         /* responsive */
        width: 65%;
        height: 45%;
    }
    .cover-text1{
        /* font-size:40px;  */
         /* responsive */
        font-size: 140%;
     }
     .cover-text2{
         /* font-size: 18px; */
         /* responsive */
         font-size: 50%;
        
     }
     .buttons{
        height: 50.13px;
        /* width:213px ;   */
        /* responsive */
        width: 25%;
     
        border-radius: 5px;
        /* color: #FDFCFF; */
        font-size: 7px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .join-accelerator-button{
        background-color: #F47E3D;
        border: none;
        color: aliceblue;
    }
    .learnmore-button{
        color: #08253F;
        /* background: #08253F; */
        border-width: 1px;
        border: 1px solid #08253F;
        color: black;
        background-color: #DFEEFB;
        margin-left: 15px;
    }

}