body,html{
    height: 100%;
    width: 100%;
    /* background-image: url("login.JPG"); */
    /* background-size: cover; */
    background: url(login.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img1{
    /* width: 85%;
    height: 85%; */
    height: 35px;
    width: 137.89px;
}
.img2{
    /* width: 85%;
    height: 85%; */
    height: 38px;
    width: 99px;
}
.text{
    color: solid white;
    display: flex;
    justify-content: center;
}


p{
    font-size: 18px;
    color: solid white;
}
.logo1{
    /* background-color: yellow;  */
    /* padding: 100px; */
    /* margin-top: 3.6%; */
    margin-top: 3%;
    margin-left: 19%;
}
.logo2{
    /* background-color: white;  */
    /* margin-top:3.6%; */
    /* margin-top: 1rem; */
    /* margin-left: 5.2px; */
    margin-top: 3%;
    margin-left: 1.2%;
}
.f{
    display:flex; 
    justify-content: left;
    margin-left: 250px;
    /* display: inline-block; */

}
.full-div{
display: flex;
justify-content: center;
align-items: center;

}
.escape{
    /* margin-top: 5.5%; */
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color:  rgba(17, 52, 70,0.95);
    /* height: 410px;
    width: 900px; */  
    /* -webkit-backdrop-filter: blur(909px); */
    /* backdrop-filter: blur(9px); */
    
    height: 410px;
    width: 909px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(53, 81, 93,1);
    display: flex;
    align-items: center;

}
h3{
    
    color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
}
.sentence{
    color: white;
    font-size: 24px;
    font-family: 'Montserrat';
    /* margin-top: 20px; */
    margin-top: 2%;
}
.buffer3{
    /* height: 12px; */
    margin:3%;
    margin: 31.5px;
}
p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 5px; */
}
.button1{
    background-color: rgba(58,78,90,1);
    border-width: 1px;
    border-color: solid rgb(255,255,255,1);
    color: white;
    height: 12.19%;
    /* width: 50.81%; */
    width: 25.41rem;
    border-radius: 3rem;
    padding: .6rem 1rem 0.6rem 1rem;
    margin-bottom: 5px;
    font-size: 18px;

}
.oval{
    width: 25px;
    height: 26px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
     justify-content: center;
}
.button1_inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button2{
    /* background-color:rgb(117,131,139,1); */
     /* background-color:rgba(117,131,139,0.4); */
     background-image: linear-gradient( to bottom, #75838B , #3B4246);
    /* background-image: linear-gradient(); */
    /* border-width: 1px; */
    /* border-color: solid rgba(151,151,151,1); */
    border: none;
    height: 14.14%;
    /* width: 23.87%; */
    width: 11.93rem;

     /* height: 58px; */
    /* width: 217px; */ 
    
    padding: 0.7rem 1rem 0.7em 1rem;
    border-radius: 3rem;
    margin-top: 1%;
    color: white;
    font-size: 18px;
}
.button3{
    background-color: rgba(31, 62, 81, 1);
    border-width: 1px;
    border: none;
    border-color: solid rgba(151, 151, 151, 1);
    height: 14.14%;
    /* width: 24.41%; */
     width: 12.2rem; 
    /* height: 58px;    
    width: 231px; */
    border-radius: 3rem;
    margin-top: 1%;
    margin-left:4px ;
    padding: 0.7rem 0rem 0.7em 0rem;
    color:  rgb(120,139,150,1);
    font-size: 18px;
}
.fin{

    background-color: white;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-div{
    /* background-color: yellow; */
    height: 85%;
    width: 100%;
}

.buffer2{
    height: 120px;
}
.buffer{
    height: 150px;
}



.liftup{
    margin-bottom: 55px;
}
footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 900px){
    .logo1{
        
        margin-top: 3%;
        margin-left: 15%;
    }
    .escape{
        /* margin-top: 5.5%; */
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
        background-color:  rgba(17, 52, 70,0.95);
        /* height: 410px;
        width: 900px; */  
        /* -webkit-backdrop-filter: blur(909px); */
        /* backdrop-filter: blur(9px); */
        
        height: 410px;
        width: 850px;
        border-radius: 10px;
        border-width: 1px;
        border-color: rgba(53, 81, 93,1);
        display: flex;
        align-items: center;
    
    }
    h3{
    
        color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 39px;
    }
    .sentence{
        color: white;
        font-size: 22px;
        font-family: 'Montserrat';
        /* margin-top: 20px; */
        margin-top: 2%;
    }
    .buffer3{
        /* height: 12px; */
        margin:3%;
    }
    .button1{
        background-color: rgba(58,78,90,1);
        border-width: 1px;
        border-color: solid rgb(255,255,255,1);
        color: white;
        height: 12.19%;
        /* width: 50.81%; */
        width: 25.41rem;
        border-radius: 3rem;
        padding: .6rem 1rem 0.6rem 1rem;
        margin-bottom: 5px;
        font-size: 18px;
    
    }
    .oval{
        width: 25px;
    height: 26px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
     justify-content: center;
    }
    .button2{
         /* background-color:rgb(117,131,139,1); */
     /* background-color:rgba(117,131,139,0.4); */
     background-image: linear-gradient( to bottom, #75838B , #3B4246);
     /* background-image: linear-gradient(); */
     /* border-width: 1px; */
     /* border-color: solid rgba(151,151,151,1); */
     
     height: 14.14%;
     /* width: 23.87%; */
     width: 11.93rem;
 
      /* height: 58px; */
     /* width: 217px; */ 
     
     padding: 0.7rem 1rem 0.7em 1rem;
     border-radius: 3rem;
     margin-top: 1%;
     color: white;
     font-size: 18px;
    }
    .button3{
        background-color: rgba(31, 62, 81, 1);
    border-width: 1px;
    border-color: solid rgba(151, 151, 151, 1);
    height: 14.14%;
    /* width: 24.41%; */
     width: 12.2rem; 
    /* height: 58px;    
    width: 231px; */
    border-radius: 3rem;
    margin-top: 1%;
    margin-left:4px ;
    padding: 0.7rem 0rem 0.7em 0rem;
    color:  rgb(120,139,150,1);
    font-size: 18px;
    }
}
/* Media Query 2 */
@media only screen and (max-width: 675px){
    .logo1{
        
        margin-top: 3%;
        margin-left: 10%;
    }

    .escape{
        /* margin-top: 5.5%; */
        margin-top: 3%;
        margin-left: 1%;
        margin-right: 1%;
        background-color:  rgba(17, 52, 70,0.95);
        /* height: 410px;
        width: 900px; */  
        /* -webkit-backdrop-filter: blur(909px); */
        /* backdrop-filter: blur(9px); */
        
        height: 410px;
        width: 645px;
        border-radius: 10px;
        border-width: 1px;
        border-color: rgba(53, 81, 93,1);
        display: flex;
        align-items: center;
    
    }
    h3{
    
        color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 35px;
    }
    .sentence{
        color: white;
        font-size: 20px;
        font-family: 'Montserrat';
        /* margin-top: 20px; */
        margin-top: 2%;
    }
    .buffer3{
        /* height: 12px; */
        margin:3%;
    }
    .button1{
        background-color: rgba(58,78,90,1);
        border-width: 1px;
        border-color: solid rgb(255,255,255,1);
        color: white;
        height: 12.19%;
        /* width: 50.81%; */
        width: 25.41rem;
        border-radius: 3rem;
        padding: .6rem 1rem 0.6rem 1rem;
        margin-bottom: 5px;
        font-size: 18px;
    
    }
    .oval{
        width: 25px;
    height: 26px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
     justify-content: center;
    }
    .button2{
         /* background-color:rgb(117,131,139,1); */
     /* background-color:rgba(117,131,139,0.4); */
     background-image: linear-gradient( to bottom, #75838B , #3B4246);
     /* background-image: linear-gradient(); */
     /* border-width: 1px; */
     /* border-color: solid rgba(151,151,151,1); */
     
     height: 14.14%;
     /* width: 23.87%; */
     width: 11.93rem;
 
      /* height: 58px; */
     /* width: 217px; */ 
     
     padding: 0.7rem 1rem 0.7em 1rem;
     border-radius: 3rem;
     margin-top: 1%;
     color: white;
     font-size: 18px;
    }
    .button3{
        background-color: rgba(31, 62, 81, 1);
    border-width: 1px;
    border-color: solid rgba(151, 151, 151, 1);
    height: 14.14%;
    /* width: 24.41%; */
     width: 12.2rem; 
    /* height: 58px;    
    width: 231px; */
    border-radius: 3rem;
    margin-top: 1%;
    margin-left:4px ;
    padding: 0.7rem 0rem 0.7em 0rem;
    color:  rgb(120,139,150,1);
    font-size: 18px;
    }
}
/* media query3 */
@media only screen and (max-width: 565px){
    .logo1{
        margin-top: 3%;
        margin-left: 7%;
    }

    .escape{
        /* margin-top: 5.5%; */
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 1%;
        background-color:  rgba(17, 52, 70,0.95);
        /* height: 410px;
        width: 900px; */  
        /* -webkit-backdrop-filter: blur(909px); */
        /* backdrop-filter: blur(9px); */
        
        height: 410px;
        width: 550px;
        border-radius: 10px;
        border-width: 1px;
        border-color: rgba(53, 81, 93,1);
        display: flex;
        align-items: center;
    
    }
    h3{
    
        color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 34px;
    }
    .sentence{
        color: white;
        font-size: 14px;
        font-family: 'Montserrat';
        /* margin-top: 20px; */
        margin-top: 2%;
    }
    .buffer3{
        /* height: 12px; */
        margin:3%;
    }
    .button1{
        background-color: rgba(58,78,90,1);
        border-width: 1px;
        border-color: solid rgb(255,255,255,1);
        color: white;
        height: 12.19%;
        /* width: 50.81%; */
        width: 25.41rem;
        border-radius: 3rem;
        padding: .6rem 1rem 0.6rem 1rem;
        margin-bottom: 5px;
        font-size: 14px;
    
    }
    .oval{
        width: 25px;
        height: 26px;
        background: #6f0202;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .p{
        font-size: 16px;
        color: solid white;
    }
    .button2{
            /* background-color:rgb(117,131,139,1); */
        /* background-color:rgba(117,131,139,0.4); */
        background-image: linear-gradient( to bottom, #75838B , #3B4246);
        /* background-image: linear-gradient(); */
        /* border-width: 1px; */
        /* border-color: solid rgba(151,151,151,1); */
        
        height: 14.14%;
        /* width: 23.87%; */
        width: 11.93rem;
    
        /* height: 58px; */
        /* width: 217px; */ 
        
        padding: 0.7rem 1rem 0.7em 1rem;
        border-radius: 3rem;
        margin-top: 1%;
        color: white;
        font-size: 14px;
    }
    .button3{
        background-color: rgba(31, 62, 81, 1);
        border-width: 1px;
        border-color: solid rgba(151, 151, 151, 1);
        height: 14.14%;
        /* width: 24.41%; */
        width: 12.2rem; 
        /* height: 58px;    
        width: 231px; */
        border-radius: 3rem;
        margin-top: 1%;
        margin-left:4px ;
        padding: 0.7rem 0rem 0.7em 0rem;
        color:  rgb(120,139,150,1);
        font-size: 14px;
    }

}
@media only screen and (max-width: 515px){
    .logo1{
     
        margin-top: 3%;
        margin-left: 2%;
    }
    .escape{
        /* margin-top: 5.5%; */
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 1%;
        background-color:  rgba(17, 52, 70,0.95);
        /* height: 410px;
        width: 900px; */  
        /* -webkit-backdrop-filter: blur(909px); */
        /* backdrop-filter: blur(9px); */
        
        height: 410px;
        width: 510px;
        border-radius: 10px;
        border-width: 1px;
        border-color: rgba(53, 81, 93,1);
        display: flex;
        align-items: center;
    
    }
    h3{
    
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 34px;
    }
    .sentence{
        color: white;
        font-size: 14px;
        font-family: 'Montserrat';
        /* margin-top: 20px; */
        margin-top: 2%;
    }
    .buffer3{
        /* height: 12px; */
         margin:3%;
    }
    .button1{
        background-color: rgba(58,78,90,1);
        border-width: 1px;
        border-color: solid rgb(255,255,255,1);
        color: white;
        height: 12.19%;
        width: 80.81%;
        /* width: 25.41rem; */
        /* width: 24.41em; */
        border-radius: 3rem;
        padding: .6rem 1rem 0.6rem 1rem;
        margin-bottom: 5px;
        font-size: 10px;
    
    }
    .oval{
        width: 23px;
        height: 23px;
        background: #6f0202;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .p{
        font-size: 15px;
        color: solid white;
    }
    .button2{
         /* background-color:rgb(117,131,139,1); */
        /* background-color:rgba(117,131,139,0.4); */
        background-image: linear-gradient( to bottom, #75838B , #3B4246);
        /* background-image: linear-gradient(); */
        /* border-width: 1px; */
        /* border-color: solid rgba(151,151,151,1); */
        
        height: 14.14%;
        /* width: 23.87%; */
        width: 39%;
        /* width: 11.93rem; */
            /* width: 11.93em; */
        /* height: 58px; */
        /* width: 217px; */ 
        
        padding: 0.7rem 1rem 0.7em 1rem;
        border-radius: 3rem;
        margin-top: 1%;
        color: white;
        font-size: 10px;
    }
    .button3{
        background-color: rgba(31, 62, 81, 1);
        border-width: 1px;
        border-color: solid rgba(151, 151, 151, 1);
        height: 14.14%;
        /* width: 24.41%; */
        width: 40%;
        /* width: 12.2rem;  */
        /* width: 12.2em; */
        /* height: 58px;    
        width: 231px; */
        border-radius: 3rem;
        margin-top: 1%;
        margin-left:4px ;
        padding: 0.7rem 0rem 0.7em 0rem;
        color:  rgb(120,139,150,1);
        font-size: 10px;
    }
    .fingerprint-image{
        height: 15px;
        width: 15px;
    }

}
/*  */
@media only screen and (max-width: 400px){
    .fingerprint-image{
        height: 12px;
        width: 12px;
    }
    .p{
        font-size: 10px;
        color: solid white;
    }
}    
/*  */
@media only screen and (max-width: 349px){
    .escape{
        /* margin-top: 5.5%; */
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 1%;
        background-color:  rgba(17, 52, 70,0.95);
        /* height: 410px;
        width: 900px; */  
        /* -webkit-backdrop-filter: blur(909px); */
        /* backdrop-filter: blur(9px); */
        
        height: 410px;
        width: 510px;
        border-radius: 10px;
        border-width: 1px;
        border-color: rgba(53, 81, 93,1);
        display: flex;
        align-items: center;
    
    }
    h3{
    
        color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 34px;
    }
    .sentence{
        color: white;
        font-size: 14px;
        font-family: 'Montserrat';
        /* margin-top: 20px; */
        margin-top: 2%;
    }
    .buffer3{
        /* height: 12px; */
        margin:3%;
    }
    .button1{
        background-color: rgba(58,78,90,1);
        border-width: 1px;
        border-color: solid rgb(255,255,255,1);
        color: white;
        height: 12.19%;
        width: 80.81%;
        /* width: 25.41rem; */
        /* width: 24.41em; */
        border-radius: 3rem;
        padding: .6rem 1rem 0.6rem 1rem;
        margin-bottom: 5px;
        font-size: 6px;
    
    }
    .oval{
        width: 23px;
    height: 23px;
    background: #6f0202;
    border-radius: 50%;
    display: flex;
     justify-content: center;
    }
    .button2{
         /* background-color:rgb(117,131,139,1); */
     /* background-color:rgba(117,131,139,0.4); */
     background-image: linear-gradient( to bottom, #75838B , #3B4246);
     /* background-image: linear-gradient(); */
     /* border-width: 1px; */
     /* border-color: solid rgba(151,151,151,1); */
     
     height: 14.14%;
     /* width: 23.87%; */
     width: 39%;
     /* width: 11.93rem; */
        /* width: 11.93em; */
      /* height: 58px; */
     /* width: 217px; */ 
     
     padding: 0.7rem 1rem 0.7em 1rem;
     border-radius: 3rem;
     margin-top: 1%;
     color: white;
     font-size: 6px;
    }
    .button3{
        background-color: rgba(31, 62, 81, 1);
    border-width: 1px;
    border-color: solid rgba(151, 151, 151, 1);
    height: 14.14%;
    /* width: 24.41%; */
    width: 40%;
     /* width: 12.2rem;  */
     /* width: 12.2em; */
    /* height: 58px;    
    width: 231px; */
    border-radius: 3rem;
    margin-top: 1%;
    margin-left:4px ;
    padding: 0.7rem 0rem 0.7em 0rem;
    color:  rgb(120,139,150,1);
    font-size: 4px;
    }

}